/* ---------GLOBAL--------- */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    color: var(--slate);
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.section {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ---------GLOBAL--------- */
/* ---------HEADER--------- */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0;
}

.header-logo .logo-part {
    color: var(--navy-blue);
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* .contacts-item {} */

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}
/* ---------HEADER--------- */
/* ---------HERO--------- */
.hero {
    padding: 188px 0;
    background: var(--navy-blue);
}

/* .hero-container {} */

.hero-title {
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    border: 0;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}
/* ---------HERO--------- */
/* ---------FEATURES--------- */
/* .features {} */

/* .features-container {} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100%-72px)/4);
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ---------FEATURES--------- */
/* ---------OUR TEAM--------- */
.team {
    background-color: var(--cloud);
}

/* .team-container {} */

.team-title {
    margin-bottom: 72px;
}

/* .team-list {} */

.team-member {
    background-color: var(--white);
}

.team-member-name {
    text-align: center;
}

.team-member-text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ---------OUR TEAM--------- */
/* ---------PORTFOLIO--------- */
/* .portfolio {} */

/* .portfolio-container {} */

/* .portfolio-title {} */

/* .portfolio-list {} */

/* .portfolio-item {} */

/* .portfolio-subtitle {} */

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ---------PORTFOLIO--------- */
/* ---------FOOTER--------- */
.footer {
    padding: 100px 0;
    background-color: var(--navy-blue);
}

/* .footer-container {} */

/* .logo */

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: var(--cloud);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    max-width: 264px;
}
/* ---------FOOTER--------- */